body {
    font-family: 'Calibri Light', sans-serif;
    background-color: #f2f2f2;
}
.container {
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.weather-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.weather-data div {
    text-align: center;
}
.temp {
    font-size: 4rem;
}

.about-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.about-info div {
    text-align: left; /* Alinha o texto à esquerda */
    margin-left: 30px; /* Adiciona um espaço à esquerda da imagem */
}
.about-info img {
    width: 200px; /* Define o tamanho da imagem */
    height: 200px;
}
.about-info h2 {
    margin-bottom: 10px;
}
.about-info p {
    margin-bottom: 15px;
}
.about-info a {
    color: #007bff; /* Cor do link azul */
    text-decoration: none; /* Remove o sublinhado do link */
}
.about-info a:hover {
    text-decoration: underline; /* Adiciona um sublinhado ao passar o mouse */
}