<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align:center">Weather App</h1>
        <div class="search">
            <input type="text" placeholder="Search city" class="search-bar" />
            <button class="search-button"><img src="{{ url_for('static', filename='icons/lupa.svg') }}" alt="Ícone de Lupa"></button>
        </div>
        <div class="weather-data">
            <div>
                <p>City: <span id="city"></span></p>
                <p>Temperature: <span class="temp" id="temp"></span> °C</p>
            </div>
            <div>
                <p>Conditions: <span id="conditions"></span></p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>© 2023 Weather App. Developed by <a href="/info">Winissius Machado</a>.</p>
    </footer>
    <script>
    </script>
</body>
</html>