<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Developer</title>
</head>
<body>
    <div class="container">
        <h1>About the Developer</h1>
        <div class="about-info">
            <img src="https://github.com/winissius.png" alt="Winissius Machado" class="rounded-circle" width="150" height="150">
            <div>
                <h2>Winissius Machado</h2>
                <p>You can find my work on GitHub:</p>
                <a href="https://github.com/winissius" target="_blank">https://github.com/winissius</a>
            </div>
        </div>
    </div>
</body>
</html>